lista_7/ex2/ex2
lista_7/ex2/lex.yy.c
lista_7/ex3/lex.yy.c
lista_7/ex4/ex4
lista_7/ex4/lex.yy.c
lista_7/lex.yy.c
lista_7/lista7ex1
lista_7/ex4/teste.txt
lista_7/ex4/teste2.txt
rascunhos/
*.o
*.out
lex.yy.c
*.txt
l7e1
l7e2
l7e3
cstats
*.zip
rascunhos
script_teste_lexico
lista_9/ex1